<footer class="footer bg-theme-light/50">
  <div class="container">
    <div class="row gx-5 pb-10 pt-[52px]">
      <div class="col-12 mt-12 md:col-6 lg:col-4">
        <a href="index.html">
          <img src="images/service/11.png" style="height: 65px" alt="logo" />
        </a>
        <p class="mt-6">
          Groupe Laroche :Vous , notre priorité
        </p>
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-4">
        <h6>Socials</h6>
        <p>info@g-laroche.com</p>
        <ul class="social-icons mt-4 lg:mt-6">
          <li>
            <a href="https://www.facebook.com/people/Groupe-Laroche-TIC/100065400883068/">
              <svg
                width="19"
                height="21"
                viewBox="0 0 20 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.1056 10.4495C19.1056 5.09642 15 0.759277 9.9327 0.759277C4.86539 0.759277 0.759766 5.09642 0.759766 10.4495C0.759766 15.2946 4.08865 19.3191 8.49018 20.0224V13.2627H6.15996V10.4495H8.49018V8.33951C8.49018 5.91696 9.85872 4.54939 11.93 4.54939C12.9657 4.54939 14.0013 4.74476 14.0013 4.74476V7.12823H12.8547C11.7081 7.12823 11.3382 7.87063 11.3382 8.65209V10.4495H13.8904L13.4835 13.2627H11.3382V20.0224C15.7398 19.3191 19.1056 15.2946 19.1056 10.4495Z"
                  fill="#222222"
                />
              </svg>
            </a>
          </li>

        </ul>
      </div>

      <div class="col-12 mt-12 md:col-6 lg:col-4">
        <h6>Localisation & Contact</h6>
        <p>Cocody, II Plateaux Angré, 9ième tranche , Immeuble BNI</p>
        <p>+225 2722537054</p>
      </div>
    </div>
  </div>
  <div class="container max-w-[1440px]">
    <div
      class="footer-copyright mx-auto border-t border-border pb-10 pt-7 text-center"
    >
      <p>Designed And Developed by <a href="#" target="_blank">Groupe Laroche</a></p>
    </div>
  </div>
</footer>

<!-- jQuery -->
<!-- <script src="plugins/jquery/jquery.min.js"></script> -->
<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<script src="plugins/shufflejs/shuffle.js"></script>

<!-- Main Script -->
<script src="scripts/main.js"></script>
